@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;
}

input {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;

    background: none;
    border: none;
    outline: none;

    margin: 0;
    padding: 0;
}

textarea {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;

    background: none;
    border: none;
    outline: none;

    margin: 0;
    padding: 0;

    resize: none;
    overflow: hidden;
    min-height: 40px;
    max-height: 100px;
}
